


.navbar {

    background-color: #009383 !important;
}
.nav-link{
    color: white !important; 
}
.cardHistPlant:hover{
    background-color: #009383 !important;
    color: white;
}

.nav-link:hover{
    color: rgb(10, 249, 54) !important; 
}
main .singn{
    background: rgb(132,174,24);
    background: linear-gradient(90deg, rgba(132,174,24,1) 0%, rgba(0,227,11,1) 31%, rgba(0,224,255,1) 100%);
}
.list-group-item-action:hover{
    background-color: #009383!important; 
    color: whitesmoke;

}
.btn-secondary:hover{
    background-color: #025349 !important;

}
.btn-secondary{
    background-color: #009383 !important;

}
.abc {
    position: relative;
  }
  

  
  /* CSS */
