{% extends "hexa/base.html" %}
{%block content%}

<body>


    <div class="mb-3">

        <input id="numeroInput" type="number" class="form-control" placeholder="Ingresa un número">
        <button id="numero-sumbit" type="button" class="btn btn-primary">Enviar</button>
    </div>



    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="number" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <input id="chat-message-sumar" type="button" value="sumar">
    <input id="chat-message-avanzar" type="button" value="avanzar">
    <input id="chat-message-girar-derecha" type="button" value="Girar Derecha">
    <input id="chat-message-girar-izquierda" type="button" value="Girar Izquierda">
    {{ room_name|json_script:"room-name" }}
    {% csrf_token %}



    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        document.querySelector('#chat-message-sumar').onclick = function (e) {
            const comandosTexto = document.getElementById('chat-log');
            const comandos = comandosTexto.value.trim().split('\n');
            console.log(comandos)

            const csrftoken = getCookie('csrftoken');
            fetch('/web_arana/message/', {
                method: 'POST',
                body: JSON.stringify({
                    'message': comandos
                }),
                headers: {
                    'Content-Type': 'comando',
                    'X-CSRFToken': csrftoken

                }
            }).then(response => response.json()).then(data => console.log(data)).catch(error => console.log('Error', error));

            chatSocket.send(JSON.stringify({ 'message': comandos }))

        };

        document.querySelector('#chat-message-avanzar').onclick = function (e){
            const comando ='ctrl-avanzar'
            const message = comando
            chatSocket.send(JSON.stringify({'message':message}));
        }
        document.querySelector('#chat-message-girar-derecha').onclick = function (e){
            const comando ='ctrl-girar-derecha'
            const message = comando
            chatSocket.send(JSON.stringify({'message':message}));
        }
        document.querySelector('#chat-message-girar-izquierda').onclick = function (e){
            const comando ='ctrl-girar-izquierda'
            const message = comando
            chatSocket.send(JSON.stringify({'message':message}));
        }




        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{%endblock%}